<!DOCTYPE html>
  <html lang="en">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <%= stylesheet_link_tag 'signin.css' %>
    </head>

    <body class="text_center">

    	<div class="container">
    		<%= form_with model: @user,:class => 'form-signin', url:create_admin_path, local:true do |form| %>
    			<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" style="align-items: center;">
				<p>
					<%= form.label :Username %>
					<%= form.text_field :username,:class => 'form-control' %>
				</p>
				<p>
					<%= form.label :Password %>
					<%= form.password_field :password,:class => 'form-control' %>
				</p>
				<p>
					<%= form.submit "Create Admin",:class => 'btn btn-lg btn-primary btn-block'%>
				</p>
    	</div>
    	<!--<div class="container" style="align-content: center;">

	      <form class="form-signin">
	      	<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" style="align-items: center;">
	        <label for="inputEmail" class="sr-only">Email address</label>
	        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	        <label for="inputPassword" class="sr-only">Password</label>
	        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	        <div class="checkbox">
	          <label>
	            <input type="checkbox" value="remember-me"> Remember me
	          </label>
	        </div>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	      </form>-->
    </body>
   </html>

<% end %>