<!DOCTYPE html>
  <html lang="en">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
    </head>

    <body>
    	<!--<div class="container">
    		<%= form_with model: @user, url:loggin_user_path, local:true do |form| %>
				<p>
					<%= form.label :Username %>
					<%= form.text_field :username %>
				</p>
				<p>
					<%= form.label :Password %>
					<%= form.password_field :password %>
				</p>
				<p>
					<%= form.submit "Login"%>
				</p>
    	</div>-->
    	<div class="container">

	      <form class="form-signin">
	        <h2 class="form-signin-heading">Please sign in</h2>
	        <label for="inputEmail" class="sr-only">Email address</label>
	        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	        <label for="inputPassword" class="sr-only">Password</label>
	        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	        <div class="checkbox">
	          <label>
	            <input type="checkbox" value="remember-me"> Remember me
	          </label>
	        </div>
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	      </form>

    </div> <!-- /container -->
    </body>
   </html>

<% end %>