<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<%= stylesheet_link_tag 'usercredential.css' %>
</head>

<body class="text_center">
<!-- <div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div> -->
  <div class="login-page">
    <div class="form">
		<%= form_with model: @user,:class => 'login-form', url:loggin_user_path, local:true do |form| %>
		
			<%= form.text_field :username ,placeholder: "username"%>
		
			<%= form.password_field :password ,placeholder: "password"%>
		
			<%= form.button "Login" , type:"submit" %>
		<p class="message">Not registered? <a href="#">Create an account</a></p>
	  </div> 
  </div>	
</body>
</html>

	<% end %>